[buildout]
develop = .
parts = interpreter test
extends = http://svn.zope.org/repos/main/groktoolkit/trunk/grok.cfg
versions = versions
extensions = buildout.dumppickedversions

[versions]
grokcore.security =

[interpreter]
recipe = zc.recipe.egg
eggs =
  grokcore.security[role]
interpreter = python

[test]
recipe = zc.recipe.testrunner
eggs =
  grokcore.security
  grokcore.security[test]
defaults = ['--tests-pattern', '^f?tests$', '-v']
